.content {
	p, ul, ol {
		max-width: 800px;

		&.text-vp-small { max-width: 640px; }
		&.text-vp-medium { max-width: 880px; }
		&.text-vp-large { max-width: 960px; }
		&.text-vp-huge { max-width: 1120px; }
	}

	ul, ol { padding-left: 5vw; }
	ul { list-style: square outside; }
	ol { list-style: lower-roman outside; }

	blockquote {
		margin: 1.5vw 0 2.5vw 0;
		padding-left: 1.5vw;
		border-left: 0.5vw solid $site-dark;

		font-style: italic;

		& > * {}
		& > label {
			display: block;
			font-style: italic;
		}
	}

	pre {
		display: block;	
		max-width: 1120px;
		margin-left: auto;
		margin-right: auto;

		overflow: scroll;
		padding: 3vw 20px;

		font-family: $fontstack-mono;

		background-color: lighten($site-dark, 2);
		color: $site-teal;

		& > code {
			margin: 0 auto;
			max-width: 1080px;
		}
	}
}

.content-wrapper {
	max-width: 1120px;
	margin: 1vw auto;
	padding: 0 20px;

	transition-property: padding;
}

.content-code {
	position: relative;
	margin: 2vw auto;

	background-color: lighten($site-dark, 2);
}

@include respond(0, 400px) {
	.content {
		blockquote { border-left-width: 1px; }
	}
	.content-wrapper { padding: 0 10px; }
	.content-code > pre { padding-left: 10px; padding-right: 10px; }
}

@include respond(400px, 600px) {
	.content-wrapper { padding: 0 15px; }
	.content-code > pre { padding-left: 15px; padding-right: 15px; }
}


@include respond(0, 600px) { 
	.content {
		ul, ol { padding-left: 35px; }
	}

}