.content {
	

	& > * {
		margin-bottom: 2%;
	}

	h1 {
		@extend .text-vp-huge;
	}

	p, ul, ol, blockquote, pre, code {
		@extend .text-vp;
	}

	p { }

	ul, ol { }

	ul { list-style: square outside; }
	ol { list-style: lower-roman outside; }

	blockquote {
		& > * {}
		& > label {
			display: block;
			font-style: italic;
		}
	}

	pre {
		font-family: $fontstack-mono;
		& > code {}
	}
}