.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-bold { font-weight: 700; }
.text-light { font-weight: 300; }

// requires: respond.scss 
// https://gist.github.com/krambuhl/9dd229f391aceb3012b4

$vptext-viewport: 860;
$vptext-min: 640px;
$vptext-max: 1080px;
$vptext-mid: ($vptext-min + $vptext-max) / 2;

@mixin viewport-text($font-size: 24, $line-height: 1.7) {
	font-size: #{($font-size / $vptext-viewport * 100) + vw};
	line-height: #{($font-size * $line-height / $vptext-viewport) * 100 + vw};
}

@mixin viewport-text-limit($font-size: 24, $limit: 960px, $line-height: 1.7) {
	font-size: #{($font-size / $vptext-viewport) * $limit};
	line-height: #{($font-size * $line-height / $vptext-viewport) * $limit};
}

.text-vp-small { @include viewport-text(15); }
.text-vp { @include viewport-text(22); }
.text-vp-medium { @include viewport-text(28); }
.text-vp-large { @include viewport-text(36, 1.65); }
.text-vp-huge { @include viewport-text(44, 1.6); }
 
// min
@include respond(-1, $vptext-min) {
	.text-vp-small { @include viewport-text-limit(15, $vptext-min); }
	.text-vp { @include viewport-text-limit(22, $vptext-min); }
	.text-vp-medium { @include viewport-text-limit(28, $vptext-min); }
	.text-vp-large { @include viewport-text-limit(36, $vptext-min, 1.6); }
	.text-vp-huge { @include viewport-text-limit(44, $vptext-min, 1.4); }
}

// mid-low break
@include respond($vptext-min, $vptext-mid) {
	.text-vp-large { @include viewport-text(38, 1.65); }
	.text-vp-huge { @include viewport-text(48, 1.6); }
}

// mid-high break
@include respond($vptext-mid, $vptext-max) {
	.text-vp-small { @include viewport-text(13); }
	.text-vp { @include viewport-text(20); }
	.text-vp-medium { @include viewport-text(28); }
	.text-vp-large { @include viewport-text(40, 1.6); }
	.text-vp-huge { @include viewport-text(54, 1.5); }
}

// max
@include respond($vptext-max) {
	.text-vp-small { @include viewport-text-limit(13, $vptext-max); }
	.text-vp { @include viewport-text-limit(20, $vptext-max); }
	.text-vp-medium { @include viewport-text-limit(28, $vptext-max); }
	.text-vp-large { @include viewport-text-limit(40, $vptext-max, 1.5); }
	.text-vp-huge { @include viewport-text-limit(54, $vptext-max, 1.4); }
}