<footer class="l-footer">
	<div class="l-footer-wrapper slice slice-auto">
		<div class="slice-item"><ul class="nav-alt">
			{{#each menu.items}}
			<li class="nav-item" data-item="{{key}}">
				<a href="{{url}}" title="{{title}}">{{title}}</a>
			</li>
			{{/each}}
		</ul></div>

		<div class="slice-item text-right">
			<small>&copy; Copyright IL7 2014<small>
		</div>
	</div>
</footer>