{{>html-head}}
<div id="application">
{{>header}}

<div id="application-content">
  <section class="l-article">
    <article class="l-article-content layout-content content text-vp">
    {{>body}}
    </article>
  </section>
</div>

</div>
{{>html-foot}}