.nav {
	display: block;
	height: 100%;
}

.nav-item {
	display: inline-block;
	vertical-align: middle;
	margin-left: -4px;
	height: 100%;

	font-weight: bold;
	font-family: $fontstack-sans;

	transition-property: font-size;

	& > a {
		display: block;
		padding: 5px 10px;

		text-decoration: none;
		transition-property: padding;

		&:hover {
			text-decoration: underline;
		}
	}
	
	&[data-item="projects"] > a { color: $site-red; }
	&[data-item="articles"] > a { color: $site-yellow; }
	&[data-item="contribute"] > a { color: $site-teal; }
	&[data-item="about"] > a { color: $site-purple; }
}

@include respond(0, 400px) {
	.nav { padding-right: 5px; }
	.nav-item { font-size: 14px; }
	.nav-item > a { padding: 5px; }
}

@include respond(600px) {
	.nav { padding: 0 10px 0 0; }
	.nav-item > a { padding: 20px 10px; }

}