#application {
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
	flex-direction: column;

	.l-header,
	.l-article,
	.l-footer {
		
	}
}

#application-header,
#application-article,
#application-footer {

}

#application-header {
	flex: 0 1 80px;
}

#application-article {
	flex: 1 0 auto;
}



@include respond(400px, 600px) {
	#application-header { flex-basis: 50px; }
}

@include respond(300px, 400px) {
	#application-header { flex-basis: 40px; }
}

@include respond(0, 300px) {
	#application-header { flex-basis: 148px; }
}