.l-footer { }

.l-footer-wrapper {
    table-layout: auto;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1120px;

	& > .slice-item { vertical-align: middle; }
}

.l-footer-copy {
	min-width: 200px;
	padding: 0 10px;
	text-align: right;

	& > small {
		font-family: $font-sans;
		font-weight: 300;
		font-size: 12px;

		text-transform: uppercase;
		color: rgba($site-dark, 0.5);
	}
}



@include respond(0, 600px) {
	.l-footer-wrapper {
		padding: 0 5px;

		& > .slice-item {
			display: block;
			text-align: left;
		}
	}

	.l-footer {
		margin: 20px 0;
	}
}


@include respond(400px, 600px) {
	.l-footer-copy { padding: 0 10px; }
}

@include respond(0, 400px) {
	.l-footer-wrapper { padding: 0 !important; }
}