.general {}

$general-max: 1080px;
.general-wrapper { 
	margin: 0 auto;
	max-width: $general-max + 40px;
	padding: 0 20px;

	transition-property: padding;
}


@include respond(0, 400px) {
	.general-wrapper { padding: 0 5px; }
}

@include respond(400px, 600px) {
	.general-wrapper { padding: 0 10px; }
}