.l-header {
	height: 80px;
	transition-property: height;
}

.l-header-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	z-index: 1000;

	background-color: $site-dark;
	color: $site-light;
}

.l-header-wrapper {
	margin: 0 auto;
	max-width: $general-max + 40px;
    table-layout: auto;

	transition-property: padding;

	& > .slice-item { vertical-align: middle; }
}

.l-header-logo {
	width: 54px;
}

@include respond(0, 400px) {
	.l-header { height: 40px; }
}

@include respond(400px, 600px) {
	.l-header { height: 50px; }
}